*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
 
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    }

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif !important;
}
 
.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
   
}

.container {
    display: block;
    float: left;
    padding: 10px;
    
    margin: 0 auto;
    max-width: 1098px;
}
header {
    background: #fff;
    width: 100%;
    float: left;
    display: block;
    padding: 20px;
    border-bottom: 2px solid orangered;
 }

h1{
    font-size: 2.2rem;
    padding-bottom: 10px;
    color: rgb(1, 1, 146);
}

h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h3{
    font-size: 1.8rem;
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h4{
    font-size: 1.8rem;
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h5 {
    font-size: 1.8rem;
    color: rgba(6, 6, 160, 0.808);
}
p{

    margin-bottom: 10px;
    line-height: 1.4;

}

img{
    width:  40%;
    height: auto;
}
.img {
    width: 100%;
    height: auto;
}

.img-logo{
    width: 100%;
    height: auto;
}

section {
    background: #fff;
    
    
    width: 100%;
    font-size: 1.5rem;
    padding: 20px;
    
}

section nav{
    text-decoration: none ;
    display: block;
    float: left;
    width: 30%;
        
}

nav li {
    text-decoration: none;
    background-color:rgba(255, 68, 0, 0.651);
    margin: 5px 20px 5px 0;
    padding: 10px;
    font-size: 1.8rem ;
}
nav a{
    text-decoration: none;
           
}


nav a:hover{
    color: rgb(1, 1, 146);
}
section article {
    display: block;
    float: left;
    width: 70%;
    }

    footer{
    background-color: rgb(1, 1, 146);
    width: 100%;
    height: auto;
    display: flex;
    float: left;
    color: white;
    padding: 50px;
    align-content: space-between;
    

}

footer p{
   font-size: 1.5rem;
   margin: auto;
   padding: 10px;
}

footer small {
    font-size: 80%;
    display: flex;
}
@media (max-width: 810px){
    section nav, section article, nav a, footer, img, form{
        width: 100%;
        height: auto;
        
    }
    
    @media (min-width: 425px) {
        section nav, section article,  nav a, footer, img, form{
            width: 100%;
            height: auto;
            
    }
 }
}

.fa-brands{
    font-size: 3rem;
    width: 30px;
    margin: 0 10px 0;
 
    color: white;
}

.fa-brands:hover{
    color: orange;
    cursor: pointer;
}

.fa-solid{
    padding-top: 10px;
    color: white;
    display: flex;
    margin: 0 10px 0;
    font-size: 3rem;
    width: 30px;
}

.fa-solid:hover{
    cursor: pointer;
    color: orange;
}
.rede_social{
    padding-top: 10px;
    display: inline-block;
    padding-left: 300px;   
}

.cog-heading{
    margin-left: 20px !important;
    color: rgba(6, 6, 160, 0.808) !important;
}

label{
    margin-left: 25px !important;
    font-size: 2rem !important;
}

#cog-input-auto-1{
    padding-left: 5px !important;
    margin-left: 2px !important;
}

input{

    width: 70% !important;
}

textarea{
    width: 70% !important;
}
.el-input__inner{
    font-size: 1.6rem !important;
    margin-left: 20px !important;
    border-radius: 15px !important;
    
}

.el-button{
    
    font-size: 1.6rem;
    margin-left: 20px !important;
    width: 100px !important;
    border-radius: 15px !important;
    background: blue !important;
}

.cog-form__container{
    margin-left: 20px !important;
    background: rgba(177, 173, 172, 0.651) !important;
}

.form{
    z-index: -1 !important;
    width: 85%;
}

.rodape{
    display: flex;
    margin:auto;
    padding-left: 250px;
}

.cog-label{

    margin-left: 25px !important;
    font-size: 2rem !important;
}

.el-textarea__inner{
    margin-left: 20px !important;
    font-size: 2rem !important;                                                                                                                                                                                                 

}

.cog-name__first-input{
    margin-left: 2px !important;
}
#cog-input-auto-1 {
    margin-left: -70px !important;
}